@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AlteHaasGroteskRegular";
  src: url('../assets/fonts/AlteHaasGroteskRegular.ttf');
}

@font-face {
  font-family: "AlteHaasGroteskBold";
  src: url('../assets/fonts/AlteHaasGroteskBold.ttf');
}

*{ 
  font-family: 'Noto Sans', sans-serif;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
  
.dropshadow{
  box-shadow: 0px 20px 45px 4px rgba(0, 0, 0, 0.05);
}

.check{
  /* border: 1px solid rgb(220,220,220); */
  height: 45px;
  width: 45px;
}

.checkbox input:checked ~ .check{
  background-color: #F34646;
  border: none;
}

.checkbox input:checked ~ .click-to-white{
  color: #fff !important;
}


/* container custom mobile */
@media screen and (max-width: 639px) {
  .container{
    width: 100%;
    max-width: 440px !important;
  }
}
/* end container custom mobile */


/* mobile dropdown */

.mobile-dropdown-trigger img.arrow-down-{
  transition: all .2s ease;
}

.mobile-dropdown-menus{
  opacity: 0;
  transition: all .2s ease;
  max-height: 0px;
}

.mobile-nav-item.active_element .mobile-dropdown-trigger img.arrow-down-{
  transform: rotate(180deg);
}

.mobile-nav-item.active_element .mobile-dropdown-menus{
  visibility: visible;
  opacity: 1;
  max-height: 1000px;
  transition: max-height 0.2s ease-in;
}

/* end mobile dropdown */
 

/* mobile sidebar toggle */

.mobile-menu, .mobile-layer{
  transition: all .3s ease;
}

.mobile-menu.active_element{
  left: 0;
}

.mobile-layer.active_element{
  visibility: visible;
}

/* end sidebar toggle */


/* mobile search toggle */

.mobile-form-search.active_element{
  display: block;
}

/* end mobile search toggle */


/* 404 font custom */

.font-404{
  font-size: 8rem;
}
@media screen and (min-width: 768px) {
  .font-404{
    font-size: 23.75rem;
  }
}

/* end 404 font custom */


/* container */

@media screen and (min-width: 1536px) {
  .container{
    max-width: 1380px !important;
  }
}

/* end container */

* {
  scrollbar-width: 5px;
  scrollbar-color: #777;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #777;
  border-radius: 14px;
  border: 3px solid #777;
}

/* end scrollbar */


/* dropdown trips */

.target-form-input{
  display: none;
}

.target-form-input.active_element{
  display: block !important;
}
/* end dropdown trips  */


/* cart order item */
.cart-order-item.active_element{
  border-width: 2px;
  border-color: #e5e5e5;
}
@media screen and (max-width: 641px) {
  .cart-order-item.active_element{
    border-width: 0px;
    border-bottom-width: 2px;
  }
}
/* end cart order item */


/* tab-content */
.tab-content{
  display: none;
}

.tab.active{
  border-color: #F34646;
  color: #262626;
}

.tab{
  color: #a3a3a3;
}


/* expand component */

.wrap-itin.active > .target,
.wrap.active > .target{
  max-height: 100%;
}

.wrap-itin-deep.active > .target{
  max-height: 100% !important;
}

.wrap-itin > .target,
.wrap > .target{
  max-height: 0%;
}

.wrap-itin-deep > .target{
  max-height: 0% !important;
}

.wrap.active .trigger img{
  transform: rotate(180deg);
}

/* end expand component */


/* modal edit */

.modal-edit.active{
  opacity: 1;
  transform: none;
  visibility: visible;
}

.modal-edit-overlay.active{
  opacity: .8;
  visibility: visible;
}

/* end modal edit */


/* maps text position */
.hokkaido{
  top: 13%;
  right: 8%;
}
.tohoku{
  top: 44%;
  right: 26%;
}
.kanto{
  right: 32%;
  top: 67%;
}
.chubu{
  top: 64.5%;
  right: 43.5%;
}
.kansai{
  top: 73%;
  right: 55%;
}
.chugoku{
  top: 67%;
  right: 68%;
}
.shikoku{
  top: 78%;
  right: 68%;
}
.kyushu{
  top: 84%;
  right: 84%;
}
.okinawa{
  top: 84%;
  right: 10%;
}
/* end maps text position */


.nav-item:hover .nav-item .dropdown-nav{
  max-height: auto !important;
}



/* datepicker */

#ui-datepicker-div{
  max-width: 340px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  margin-left: -57px;
}

@media screen and (max-width: 639px) {
  #ui-datepicker-div{
    max-width: 410px;
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    margin-left: 0;
    left: 50% !important;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 440px) {
  #ui-datepicker-div{
    max-width: calc(100% - 30px);
  }
}

.ui-state-default{
  border: none !important;
  border-radius: 5px;
  padding-right: 10px;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  border: 1px solid #F34646;
  background: #007fff;
  font-weight: normal;
  color: #ffffff;
}

.ui-datepicker-header .ui-widget-header .ui-helper-clearfix .ui-corner-all{
  border: none !important;
  border-radius: 6px;
}

.ui-datepicker-next .ui-corner-all{
  cursor: pointer;
}